body {
  background-color: #eb04c5;
  color: #fdffff;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}
button {
  padding: 5px 20px;
  background-color: #5529a7;
  color: #fdffff;
  border-style: none;
}
input {
  height: 20px;
}